.ordersContainer {
    height: 868px;
    overflow-y: scroll;
}

.ordersContainer::-webkit-scrollbar {
    width: 8px;
    height: 0;
}

.ordersContainer::-webkit-scrollbar-track {
    background: #2f2f37;
    border-radius: 5px;
    height: 45vh;
}

.ordersContainer::-webkit-scrollbar-thumb {
    background: #8585ad;
    border-radius: 5px;
}
