.forgotPasswordContainer {
    width: 480px;
    height: auto;
    margin: 50px auto;
}

.forgotPasswordHeader {
    text-align: center;
}

.buttonContainer {
    margin: 24px 0 80px 0;
    text-align: center;
}

.forgotPasswordFooter {
    text-align: center;
}

.navigate {
    color: #4c4cff;
    text-decoration: none;
}
